node_modules/
dist/
.cache/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
coverage/
*.tgz
*.tar.gz
.replit
.upm
.config/
.local/
moj-projekt.zip
projekt.zip
